@import url("https://fonts.googleapis.com/css?family=Lobster");
@font-face {
    font-family: GABRWFFR; src: url('GABRWFFR.TTF');
}

body{
    text-align: center;
    font-family: GABRWFFR,'Lobster', cursive;
    font-size: 26px;
    background-color:rgb(238, 236, 236);
    /*:#82878A; */
}
main{
    width: 80%;
    margin: 1rem auto;
}

.actions .button {
    margin-bottom: 0;
    margin-top:10px;
}

.epName{
    margin: 0 0.75rem;
}
.template{
    display: none;
}
h3 {
    font-family: GABRWFFR,'Lobster', cursive; 
}
img {
    width: 50%;
    padding-top: 2%;
}
.footer{
    position: relative;
    margin: auto;
    bottom: 0;
    text-align: center;
    width:100%;
    padding-top: 4.3%;
}
#friends{
    width :60%;
    height: 20%;
}
select{
    font-family:GABRWFFR;
    height:auto;
    width:auto;
    font-size:30px
}
#fav{
    border-radius:12px;
     margin-left: 0px;
     background-color:#F9BE1A;
     width:auto;

}
#del{
    border-radius:12px; 
    margin-right: 5px;
    background-color:#E70025;
}
#edit{
    border-radius:12px; 
    margin-right: 1px;
    background-color:rgb(221, 219, 219); 
}