@import url("https://fonts.googleapis.com/css?family=Lobster");
@font-face {
    font-family: GABRWFFR; src: url('GABRWFFR.TTF');
}

body{
    text-align: center;
    font-family: GABRWFFR,'Lobster', cursive;
    font-size: 30px;
    background-color:rgb(238, 236, 236);
    /*:#82878A; */
}
img {
    width: 50%;
    padding-top: 2%;
}
#imgDiv {
    position: relative;
}
.footer{
    position: relative;
    padding: 0;
    margin: 0;
    bottom: 0;
    text-align: center;
    width:100%;
}
#friends{
    width :60%;
    height: 20%;
}